<a href="https://colab.research.google.com/github/Manu2003-del/Manu/blob/main/Data_Types_and_Structures_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#What are data structures, and why are they important?
 -Data structure is a way of organizing and storing data so that it can be accessed and manipulated effeciently.
 -Importance of data structures:
 1.Efficient access.
 2.Easy to understand.
 3.Solve problems.
 4.Unterstand new frameworks.

#Explain the difference between mutable and immutable data types with examples?
 -Mutable data types refers to data structures that can be modified
  after creation,while "immutable" data types cannot be changed once defined.
 -Examples of Mutable Data Types:
  1.Lists: A lists can be altered by adding,removing,or changing elements directly.
  2.Dictionaries: You can add,update,or delete key-value pairs within a dictionary.

 -Examples of Ummutable of Data Types:
  1.Strings: A strings cannot be directly modified any opertaion that appears to change it creates a new string object.
  2.Tuples: Tuples are fixed sequence of elements and cannot be changed after creation.

#What are the main differences between lists and tuples in Python?
 -The main difference between lists and tuples in python is that
  lists are mutable,meaning you can change their contents after creation,while tuples are immutable,meaning once created,their elements cannot be modified essentially,lists are designed for data that needs to be updated,while tuples are used to store fixed data that should not change.

#Describe how dictionaries store data?
 -Dictionaries are used to store data values in key:value pairs.A dictionary is a collection which is ordered,changeable and do not allow duplicates.keys are unique.Values in a dictionary  can be of any data type and can be duplicated,whereas key can't be repeated and must be immutable.

#Why might you use a set instead of a list in Python?
 -Because sets cannot have multiple occurrences of the same element,it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operation like unions and intersections.

#What is a string in Python, and how is it different from a list?
 -In python,a string is a sequence of characters enclosed in quotes,while a list is a sequence of values enclosed in square brackets.The main difference between the two is that strings are immutable,meaning they cannot be changed after creation,while lists are mutable and can be changed.

#How do tuples ensure data integrity in Python?
 -Tuples are immutable to ensure that their contents remain constant throughout their lifecycle,guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets,as they can be hashed.

#What is a hash table, and how does it relate to dictionaries in Python?
 -A hash table is a data structure that implements an associative array,mapping keys to values.It works by transforming the key into an index using a hash function,which determines the location in the table stored.
 -Python dictionaries are implemented using hash tables.This means that when you create a dictionary in python,the keys are hashed and stored in a hash table,allowing for efficient retrieval of values based on their keys.

#Can lists contain different data types in Python?
 -Yes,lists can contain elements of different data types,including other lists,dictionaries,and more.

#Explain why strings are immutable in Python?
 -In python, strings are made "immutable" so that programmers cannot alter the contents of the object(even by mistake).This avoids unnecessary bugs.Some other immutable objects are integer,float,tuple,and bool.More on mutable and immutable objects in python.

#What advantages do dictionaries offer over lists for certain tasks?
 -Dictionaries offer fast access to values based on their keys,making them ideal for tasks where you need to frequently look up values based on unique identifier.

#Describe a scenario where using a tuple would be preferable over a list?
 -A tuple is preferable when you want to represent a fixed collection of items that should not be changed,such as coordinates or database records.

#How do sets handle duplicate values in Python?
 -Sets automatically remove duplicate values,ensuring that each element in a set is unique.

#How does the “in” keyword work differently for lists and dictionaries?
 -For lists,the "in" keyword checks if a value is present in the list.

#Can you modify the elements of a tuple? Explain why or why not.
 -No,you cannot modify the elements of a tuple because they immutable.Tuples cannot be changed.The syntax that indicates you have and not a list is that the tuple's elements are placed within parentheses,not brackets.

#What is a nested dictionary, and give an example of its use case?
 -A nested dictionary is a dictionaries that are stored as values within another dictionary.It's a way to store data in multiple layers of organization.
 -Example use cases:
 1.Employee records:Use a nested dictionary to organize employees by department names,and the values could be dictionaries of employees in that department.
 2.Iventory systems:Use a nested dictiory to track product catrgories,subcategories,and individal product details.
 3.JSON data:Use a nested dictionary to work with APls and web services.

#Describe the time complexity of accessing elements in a dictionary?
 -Accessing elements in a dictionary has an average time complexity of O(1),which is very efficent,meaning it takes constant time on average,as dictionaries internally use hash tables which allow for quick lookups based on the key value;however,in worst-case scenarios with significant hash collisions,the time complexity could reach O(n)where n is the number of elements in the dictionary.

#In what situations are lists preferred over dictionaries?
 -Lists are preferred when you need to maintain the order of elements or when you need to access elements by their index.

#Why are dictionaries considered unordered, and how does that affect data retrieval?
 -Dictionaries are unordered because they do not guarantee the order in which key-value pairs are stored meaning,when you iterate through a dictionary,thr order in which the items appear is not guaranteed, and primarily focused on fast access using keys rather than accessing elements based on their postion in a sequence;this means you can't retrieve data based on a index,but instead need to use the specific key to access the associated value quickly.

#Explain the difference between a list and a dictionary in terms of data retrieval.
 -Lists allow you to access elements by their index(postion),while dictionaries allow you to access elements by their key.

In [ ]:
#Write a code to create a string with your name and print it?
name = "Manu"
print(name)

Manu

In [ ]:
#Write a code to find the length of the string "Hello World"?
string = "Hello World"
print(len(string))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programing"
print(string[:3])

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase?
string = "hello"
print(string.upper())

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = "I like apples"
print(string.replace("apples","orange"))

I like orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it?
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list = ['a','b','c','d']
print(list[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50]?
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
tuple = (10, 20 ,5 ,15)
print(min(tuple))

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple','banana','orange')
print('kiwi'in tuple)

False

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name":"Manu","age":21,"city":"Ashoknagar"}
print(dic)

{'name': 'Manu', 'age': 21, 'city': 'Ashoknagar'}

In [1]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {'name':'john','age':25}
dic["country"] = "USA"
print(dic)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [2]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic = {'name':'Alice','age':30}
print(dic)

{'name': 'Alice', 'age': 30}

In [3]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic = {'name':'bob','age': 22, 'city': 'New York'}
del dic['age']
print(dic)

{'name': 'bob', 'city': 'New York'}

In [4]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic = {'name': 'Alice','city':'Paris'}
print("city"in dic)

True

In [5]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3]
tuple = (4, 5, 6)
dic = {'name':'Manu','age':21}
print(list)
print(tuple)
print(dic)

[1, 2, 3]
(4, 5, 6)
{'name': 'Manu', 'age': 21}

In [6]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = [random.randint(1,100),5]
random_list.sort()
print(random_list)

[5, 32]

In [7]:
#Write a code to create a list with strings and print the element at the third index.
list = ["apple","banana","orange","cherry"]
print(list[2])

orange

In [10]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [11]:
#Write a code to convert a list of strings into a set.
list = ['apple','banana','cherry']
set = set(list)
print(set)

{'banana', 'cherry', 'apple'}